#container {
    padding-bottom: 10px;
    display: flex;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

#content {
    display: grid;
    gap: 5px;
    max-width: 100%;
    max-height: 80vh;
    aspect-ratio: 1;
}

#content input[type="button"] {
    text-align: center;
    width: 100%;
    padding: 0px;
    min-width: 45px;
    height: auto;
    font-size: calc(10px + 0.9vw);
    aspect-ratio: 1 / 1;
    box-sizing: border-box;
    text-align: center;
}

@media (max-width: 1023px) and (min-height: 768px) {
    #content {
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(auto-fill, minmax(1fr));
        width: 80vh; /* Adjust the width accordingly */
    }

    #content input[type="button"] {
        font-size: clamp(30px, 1vw, 50px);
    }

    input[type="button"] {
        height: 5vh;
        font-size: 3vh;
    }

    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 500%;
    }
}
html,
main,
body {
    background-color: lightgray;
}

.unrevealed {
    background-color: gray;
}

#content input[type="button"][value="1"] {
    color: blue;
}

#content input[type="button"][value="2"] {
    color: red;
}

#content input[type="button"][value="3"] {
    color: green;
}

#content input[type="button"][value="4"] {
    color: darkblue;
}

#content input[type="button"][value="5"] {
    color: darkred;
}

#content input[type="button"][value="6"] {
    color: cyan;
}

#content .red-bg {
    background-color: darkred;
}
